@import url('https://fonts.cdnfonts.com/css/kings-2');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';
/* 
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */

@theme {
    --font-main: 'Helvetica Neue', sans-serif;
    --font-heading: 'Kings', sans-serif;
    --color-main: #d1f366;
    --color-secondary: #d0d4e7;
    --color-on-secondary: #626577;
    --color-tertiary: #ec502c;
    --color-background: #141627;
    --color-on-background: #ffffff;
}

body {
    color: var(--on-background);
    background: var(--background);
    font-family: var(--font-main);
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
